<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>


<ul class="users">
  <% @users.each do |user| %>
  <% if (link_to user.feelings.any?) %>
    <li>
      <%= link_to user.name, user %> WHO HAS <%= link_to user.feelings.count %> FEELZ
    </li>
    <% else %>
    	<li>
    		 <%= link_to user.name, user %>
    	</li>
    <% end %>
  <% end %>
</ul>


<%= will_paginate %>
